<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>게시 글 목록</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body th:align="center">
<h1>게시글 목록</h1>
<hr>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
<tr>
	<th bgcolor="orange" width="50">번호</th>
	<th bgcolor="orange" width="300">제목</th>
	<th bgcolor="orange" width="100">작성자</th>
	<th bgcolor="orange" width="100">등록일</th>
	<th bgcolor="orange" width="50">조회수</th>
</tr>

<tr th:each="board, state : ${boardList}">
	<td th:text="${state.count}">
	<td><a th:href="@{/getBoard(boardSeqno=${board.boardSeqno})}" th:text="${board.boardSubject}"></a></td>
	<td th:text="${board.boardWriter}">
	<td th:text="${board.registDate}">
	<td th:text="${board.boardCnt}">
</tr>

</table>
<br>
<a th:href="@{/insertBoard}">새글 등록 </a>
</body>
</html>
